* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-header-e-footer: #212121;
    --cor-hover: red;
    --cor-home: #f9a825;
    --fonte-principal: helvetica;
}

.flex {
    display: flex;
}



header {
    background-color: var(--cor-header-e-footer);
    width: 100%;
    height: 40px; 
}

header#top-header h3#logo, header#top-header nav {
    width: 40%;
}

header#top-header {
    align-items: center;
    justify-content: center;
}

header#top-header h3#logo {
    font-family: var(--fonte-principal);
    color: #fff;
}

header#top-header nav ul {
    justify-content: flex-end;
}

header#top-header ul a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-family: var(--fonte-principal);
    align-items: center;
    padding: 7px 30px 7px 30px;
}

header#top-header ul a.hover:hover {
    background-color: var(--cor-hover); 
}

header#top-header nav ul a#home {
    background-color: var(--cor-home);
    border-radius: 20px;
}



main {
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

main section {
    width: 20%;
    padding: 4vw 0.7vw 4vw 0.7vw;
}

main section#lorem {
    border-right: 2px dotted var(--cor-header-e-footer);
    font-family: var(--fonte-principal);
}

main section p {
    font-family: var(--fonte-principal);
    font-size: 15px;
    margin-bottom: 7px;
}

main section input.txt {
    height: 40px;
    width: 100%;
    border-radius: 7px;
    padding-left: 3px;
}

.btn {
    margin: 10px 0;
    width: 100px;
    height: 20px;
    background-color: var(--cor-home);
    border-radius: 5px;
    cursor: pointer;
}



footer {
    background-color: var(--cor-header-e-footer);
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--fonte-principal);
    Font-size: 20px;
}